[alias]
	st = status --short --branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	dc = diff --cached
	wd = diff --word-diff
	br = branch -vv

[commit]
	gpgsign = true

[user]
	email = ivan@habunek.com
	name = Ivan Habunek
	signingkey = ivan@habunek.com

[push]
	default = simple

[pull]
	ff = only

[core]
	editor = vim
	excludesfile = ~/.gitignore

[merge]
	conflictstyle = diff3
	tool = meld

[tag]
	sort = v:refname

[stash]
	showPatch = true
